ExtraStandard.GkvKomServer.Validation.Extra14/xsd/KomServer-2-DataRequest-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Schema module describing eXTra standard messages
    
    @file    KomServer-2-DataRequest-1.xsd
    @author  Sebastian Stadtmüller, ITSG GmbH
    @version 1.4.0
    @state   RELEASE
    @date    2014-12-12
    @changed 2014-12-12 Profiled for GKV-Kommunikationsserver
    @changed 2015-05-13 ITSG - ME/DP: Changed xs:pattern-url for stronger RegEx validation (. => \.)

    @file    eXTra-messages-1.xsd
    @author  [MS] Michael Schäfer, Statistisches Bundesamt
    @version 1.4.0
    @state   RELEASE
    @date    2013-10-21
    
    @changed 2009-10-30 1.1 MS + Added aribute 'event' to AbstractArgumentType,
                               + Added version identifier '1.1'
    @changed 2009-11-02 1.1 MS + Added attribute 'event' to PropertyType,
                               / Set attribute 'abstract' on AbstractArgumentType 
                               + Added version identifier '1.2' 
    @changed 2010-05-20 1.2 MS + Added type 'ListOfConfirmationOfReceiptType',
                               + Added element 'ListOfConfirmationOfReceipt',
                               + Added group 'ConfirmationOfReceiptModel',
                               + Added Type 'ListOfDataRequestType',
                               + Added element 'ListOfDataRequest',
                               + Added group 'DataRequestModel'
    @changed 2010-05-20 1.2 MS + Added type 'ListOfConfirmationOfReceiptType',
                               - Removed 'AbstractMessageType'
    @changed 2011-05-08 1.3 MS + Added type 'StatusRequestType',
                               + Added type 'StatusRequestArgumentType',
                               + Added type 'StatusRequestQueryType',
                               + Added type 'StatusResponseType',
                               + Added type 'ListOfStatusResponseType',
                               / Added Request* values to PropertyNamesType
                               / Renamed 'QueryType' to 'DataRequestQueryType'
                               / Set schema version to '1.3.0'
    @changed 2011-06-17 1.3 MS / Added Layer value to PropertyNamesType
    @changed 2011-08-04 1.3 MS + Added Layer value to DataRequestPropertyNamesType 
                               + Added Layer value to StatusRequestPropertyNamesType                               
                               / DataRequestType: Changed version identifier to '1.2'
    @changed 2011-10-18 1.3 MS / ListOfStatusResponseType: Corrected name of child element
                                 to be 'StatusResponse'
                               / DataRequestArgumentType: Element 'Argument' is optional
                               / StatusRequestArgumentType: Element 'Argument' is optional
                               / Extended version attributes to allow older versions.
    @changed 2013-05-14 1.4 MS / Set schema version to '1.4.0'
    @added   2013-05-14 1.4 MS + ListRequest* and ListResponse* types.
    @changed 2013-05-24 1.4 MS / Attribute 'state' of ListRequest converted to argument
                               / Attribute 'state' of ListResponse converted to property
                               + Added attribute 'order' to ListRequest
    @changed 2013-09-06 1.4 MS + Argument 'state' added to DataRequest
                               + Added attribute 'order' to DataRequest
                               + Added propery 'ExpectedDataSize' to ListResponse
                               + Added type ListResponsePropertyNamesType
    @changed 2013-10-14 1.4 MS + Added 'Request*' properties to align property set with that of
                                 DataRequestPropertyNamesType
                               / Renamed prop ExceptedDataSize to PayloadSize
                               / Corrected URI to refer to 'requestState' instead of 'endpoint'
    @changed 2013-10-21 1.4 MS / Corrected property set mismatch bewtween DataRequestPropertyNamesType
                                 and ListRequestPropertyNamesType
    @changed 2014-01-30 1.4 MS + Added attribute 'order' to StatusRequestArgumentType
    @changed 2014-02-07 1.4 MS + Added version identifier '1.1' to StatusRequestType
    @changed 2014-05-28 1.4 MS + Element 'ListOfStatusResponse/StatusResponse', cardinality
                                 changed from 1..1 to 0..unbounded
    @changed 2014-05-28 1.4 MS + Element 'ListOfStatusResponse/StatusResponse/Property', cardinality
                                 changed from 1..1 to 1..unbounded

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmsg="http://www.extra-standard.de/namespace/message/1" xmlns="http://www.extra-standard.de/namespace/message/1" targetNamespace="http://www.extra-standard.de/namespace/message/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.4.0">
	<!-- ====================
         Message: DataRequest
         ====================
    -->
	<!-- DataRequestType
         Represents a message for requesting the result of some business
         process that was triggered by a previous message
         
         @changed 2011-08-05 1.1 MS / Added version identifier '1.2'
         @changed 2011-09-06 1.1 MS / Added version identifier '1.3'
         
    -->
	<xs:complexType name="DataRequestType">
		<xs:sequence>
			<xs:group ref="DataRequestModel"/>
		</xs:sequence>
		<xs:attribute name="version" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="1.3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- @created 2010-05-20 1.2 MS -->
	<xs:group name="DataRequestModel">
		<xs:sequence>
			<xs:element name="Query" type="DataRequestQueryType"/>
			<xs:element name="Control" type="ControlType" minOccurs="0" maxOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<!-- DataRequestQueryType
        Represents a data request query that selects requested objects by certain
        criteria specified by argument elements.
        
        @changed 2011-10-18 1.3 MS / Element Argument is optional
    -->
	<xs:complexType name="DataRequestQueryType">
		<xs:sequence>
			<xs:element name="Argument" type="DataRequestArgumentType" minOccurs="0" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<!-- DataRequestArgumentType
        Defines a concrete type for arguments of a data request query, restricting
        argument names to those enumerated in  xs:string
        
        @changed 2013-09-06 1.4 MS + Added 'order' attribute
    -->
	<xs:complexType name="DataRequestArgumentType">
		<xs:complexContent>
			<xs:extension base="AbstractArgumentType">
				<xs:attribute name="property" use="required">
					<xs:simpleType>
						<xs:restriction base="DataRequestPropertyNamesType">
							<xs:enumeration value="http://www.extra-standard.de/property/ReceiverID"/>
							<xs:enumeration value="http://www.extra-standard.de/property/Procedure"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="order" type="SortingOrderType" use="prohibited"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- DataRequestPropertyNamesType
        The names of the properties that may appear in a data request query.
        The names must consitute a subset (in XSD terms: restriction) of the
        names defined in the type PropertyNamesType.
        
        @changed 2011-08-04 1.3 MS + Added value 'Layer'
        @changed 2013-05-24 1.4 MS / Rearranged prop names in alphabetical order
        @changed 2013-09-06 1.4 MS + Added 'State' property
        @changed 2013-10-21 1.4 MS / Set properties to match with ListRequestPropertyNamesType
        
    -->
	<xs:simpleType name="DataRequestPropertyNamesType">
		<xs:restriction base="PropertyNamesType">
			<xs:pattern value="http://www\.extra-standard\.de/property/(DataType|Layer|Procedure|ReceiverID|RequestCreationTimeStamp|RequestFileName|RequestID|ResponseCreationTimeStamp|ResponseFileName|ResponseID|SenderID|State)"/>
			<xs:pattern value=".+"/>
			<!--
            @deleted 2010-07-04 1.2 MS -
            @{code %
            <xs:enumeration value="http://www.extra-standard.de/property/SenderID" />
            <xs:enumeration value="http://www.extra-standard.de/property/ReceiverID" />
            <xs:enumeration value="http://www.extra-standard.de/property/Procedure" />
            <xs:enumeration value="http://www.extra-standard.de/property/DataType" />
            <xs:enumeration value="http://www.extra-standard.de/property/ResponseID" />
            <xs:enumeration value="http://www.extra-standard.de/property/ResponseCreationTimeStamp" />
            <xs:enumeration value="http://www.extra-standard.de/property/ResponseFileName" />
            <xs:enumeration value="http://www.extra-standard.de/property/Layer"/>
            -->
		</xs:restriction>
	</xs:simpleType>
	<!-- ============
         Common types
         ============
    -->
	<!-- AbstractArgumentType
        Defines an abstract base type for defining arguments of a query. An argument
        is bound to a named property by a property attribute which must be supplied
        by concrete types through extension. The name of the property takes the form
        of a URI. The property's type can be specified through a type attribute whose
        value references one of the XML Schema atomic types and defaults to xs:string.
         
        @changed 2009-10-30 1.1 MS + Added attribute 'event'
        @changed 2009-11-02 1.1 MS + Set attribute 'abstract' to 'true'
        @changed 2011-06-21 1.3 MS + Added element 'IN'
    -->
	<xs:complexType name="AbstractArgumentType" abstract="true">
		<xs:choice>
			<xs:element name="EQ">
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="OperandType">
							<xs:pattern value="[0-9]{8,9}"/>
							<xs:pattern value="[A-Z0-9]{3}"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="LE" type="OperandType" minOccurs="0" maxOccurs="0"/>
			<xs:element name="LT" type="OperandType" minOccurs="0" maxOccurs="0"/>
			<xs:sequence minOccurs="0" maxOccurs="0">
				<xs:choice>
					<xs:element name="GE" type="OperandType"/>
					<xs:element name="GT" type="OperandType"/>
				</xs:choice>
				<xs:choice minOccurs="0">
					<xs:element name="LE" type="OperandType"/>
					<xs:element name="LT" type="OperandType"/>
				</xs:choice>
			</xs:sequence>
			<xs:element name="IN" type="OperandSetType" minOccurs="0" maxOccurs="0"/>
		</xs:choice>
		<xs:attribute name="type" default="xs:string">
			<xs:simpleType>
				<xs:restriction base="XSDPrefixedTypeCodes">
					<xs:enumeration value="xs:string"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="event" type="EventNamesType" use="prohibited"/>
	</xs:complexType>
	<!-- OperandSetType
        
        @created 2011-06-21 1.3 MS
    -->
	<xs:complexType name="OperandSetType">
		<xs:sequence>
			<xs:element name="EQ" type="OperandType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OperandType">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<!-- PropertyType
        @changed 2009-11-02 1.1 MS + Added attribute 'event'
    -->
	<xs:complexType name="PropertyType">
		<xs:sequence>
			<xs:element name="Value" type="ValueType"/>
		</xs:sequence>
		<xs:attribute name="name" type="PropertyNamesType" use="required"/>
		<xs:attribute name="type" type="XSDPrefixedTypeCodes" default="xs:string"/>
		<xs:attribute name="event" type="EventNamesType" default="http://www.extra-standard.de/event/Default"/>
	</xs:complexType>
	<!--
        @created 2009-05-05 1.0 MS 
        @changed 2010-05-20 1.2 MS + Addrd attribute 'event'
    -->
	<xs:complexType name="PropertySetType">
		<xs:sequence>
			<xs:element name="Value" type="ValueType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="PropertyNamesType" use="required"/>
		<xs:attribute name="type" type="XSDPrefixedTypeCodes" default="xs:string"/>
		<xs:attribute name="event" type="EventNamesType"/>
	</xs:complexType>
	<!--
        @changed 2011-06-17 1.2 MS + Added value 'Layer'
        @changed 2013-05-24 1.4 MS + Added value 'State'
                                   / Rearranged prop names in alphabetical order
        @changed 2013-09-06 1.4 MS + Added value 'ExpectedDataSize'
    -->
	<xs:simpleType name="PropertyNamesType">
		<xs:restriction base="xs:anyURI">
			<xs:pattern value="http://www\.extra-standard\.de/property/(DataType|ExpectedDataSize|Layer|Procedure|ReceiverID|RequestCreationTimeStamp|RequestFileName|RequestID|ResponseCreationTimeStamp|ResponseFileName|ResponseID|SenderID|State)"/>
			<xs:pattern value=".+"/>
			<!--
            @deleted 2010-07-04 1.2 MS -
            @{code %
            <xs:enumeration value="http://www.extra-standard.de/property/SenderID" />
            <xs:enumeration value="http://www.extra-standard.de/property/ReceiverID" />
            <xs:enumeration value="http://www.extra-standard.de/property/Procedure" />
            <xs:enumeration value="http://www.extra-standard.de/property/DataType" />
            <xs:enumeration value="http://www.extra-standard.de/property/RequestID" />
            <xs:enumeration value="http://www.extra-standard.de/property/RequestCreationTimeStamp" />
            <xs:enumeration value="http://www.extra-standard.de/property/RequestFileName" />
            <xs:enumeration value="http://www.extra-standard.de/property/ResponseID" />
            <xs:enumeration value="http://www.extra-standard.de/property/ResponseCreationTimeStamp" />
            <xs:enumeration value="http://www.extra-standard.de/property/ResponseFileName" />
            <xs:enumeration value="http://www.extra-standard.de/property/Layer" />
            %}
            -->
		</xs:restriction>
	</xs:simpleType>
	<!--
        @created 2009-10-30 1.1 MS The set of predefined event names 
    -->
	<xs:simpleType name="EventNamesType">
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="http://www.extra-standard.de/event/Default"/>
			<xs:enumeration value="http://www.extra-standard.de/event/SendData"/>
			<xs:enumeration value="http://www.extra-standard.de/event/RequestData"/>
		</xs:restriction>
	</xs:simpleType>
	<!--
        @created 2013-05-14 1.4 MS
        @changed 2013-10-14 1.4 MS / Corrected URI to refer to 'requestState' instead of 'endpoint'
    -->
	<xs:simpleType name="RequestStatesType">
		<xs:annotation>
			<xs:documentation>
                A list of extensible codes denoting a state during request processing contact endpoint type. 
                Base values:
                - http://www.extra-standard.de/requestState/NONE
                - http://www.extra-standard.de/requestState/AVAILABLE
                - http://www.extra-standard.de/requestState/FETCHED
                - http://www.extra-standard.de/requestState/CONFIRMED
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:pattern value="http://www\.extra-standard\.de/requestState/(NONE|AVAILABLE|FETCHED|CONFIRMED)(#[a-zA-Z0-9]([.\-][a-zA-Z0-9]+)*)?"/>
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ValueType">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<!-- 
         @removed 2009-07-17 MS Unused

    <xs:complexType name="AttributeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" type="xs:NCName" use="required"/>
                <xs:attribute name="type" type="XSDPrefixedTypeCodes" default="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    -->
	<!--
        @changed 2009-07-15 MS + Added element 'MaximumSize' 
    -->
	<xs:complexType name="ControlType">
		<xs:sequence>
			<xs:element name="MaximumPackages" type="xs:positiveInteger" minOccurs="0"/>
			<xs:element name="MaximumMessages" type="xs:positiveInteger" minOccurs="0"/>
			<xs:element name="MaximumResults" type="xs:positiveInteger" minOccurs="0"/>
			<xs:element name="MaximumSize" type="SpaceSizeType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--
        Defines a type for specifiying (disk or memory) space size. A size specification
        consists of an integer part immediately followed by a unit identifier. The integer
        part MUST evaluate to an value > 0. The unit is identified by one of the following
        upper-case letters: B (bytes), K (kilobytes), M (megabytes) and G (gigabytes).
        
        Examples: 4096B, 512K, 16M, 2G.
        
        @created 2009-07-15 MS 
    -->
	<xs:simpleType name="SpaceSizeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]*[1-9][0-9]*[BKMG]"/>
		</xs:restriction>
	</xs:simpleType>
	<!--
        Defines a type for specifiying the sorting order on queriy arguments
        
        Examples: A, ASC, ASCENDING, D, DESC, DESCENDING.
        
        @created 2013-05-24 MS 
    -->
	<xs:simpleType name="SortingOrderType">
		<xs:restriction base="xs:string">
			<xs:pattern value="A|ASC|ASCENDING|D|DESC|DESCENDING|U|UNDEF|UNDEFINED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="XSDPrefixedTypeCodes">
		<xs:annotation>
			<xs:documentation> A list of prefixed XSD atomic type names </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:QName">
			<xs:enumeration value="xs:string"/>
			<xs:enumeration value="xs:normalizedString"/>
			<xs:enumeration value="xs:token"/>
			<xs:enumeration value="xs:Name"/>
			<xs:enumeration value="xs:NCName"/>
			<xs:enumeration value="xs:QName"/>
			<xs:enumeration value="xs:language"/>
			<xs:enumeration value="xs:float"/>
			<xs:enumeration value="xs:double"/>
			<xs:enumeration value="xs:decimal"/>
			<xs:enumeration value="xs:integer"/>
			<xs:enumeration value="xs:long"/>
			<xs:enumeration value="xs:int"/>
			<xs:enumeration value="xs:short"/>
			<xs:enumeration value="xs:byte"/>
			<xs:enumeration value="xs:positiveInteger"/>
			<xs:enumeration value="xs:nonPositiveInteger"/>
			<xs:enumeration value="xs:negativeInteger"/>
			<xs:enumeration value="xs:nonNegativeInteger"/>
			<xs:enumeration value="xs:unsignedLong"/>
			<xs:enumeration value="xs:unsignedInt"/>
			<xs:enumeration value="xs:unsignedShort"/>
			<xs:enumeration value="xs:unsignedByte"/>
			<xs:enumeration value="xs:duration"/>
			<xs:enumeration value="xs:dateTime"/>
			<xs:enumeration value="xs:date"/>
			<xs:enumeration value="xs:time"/>
			<xs:enumeration value="xs:gYear"/>
			<xs:enumeration value="xs:gMonth"/>
			<xs:enumeration value="xs:gYearMonth"/>
			<xs:enumeration value="xs:gMonthDay"/>
			<xs:enumeration value="xs:gDay"/>
			<xs:enumeration value="xs:ID"/>
			<xs:enumeration value="xs:IDREF"/>
			<xs:enumeration value="xs:IDREFS"/>
			<xs:enumeration value="xs:ENTITY"/>
			<xs:enumeration value="xs:ENITIES"/>
			<xs:enumeration value="xs:NMTOKEN"/>
			<xs:enumeration value="xs:NMTOKENS"/>
			<xs:enumeration value="xs:NOTATION"/>
			<xs:enumeration value="xs:boolean"/>
			<xs:enumeration value="xs:hexBinary"/>
			<xs:enumeration value="xs:base64Binary"/>
			<xs:enumeration value="xs:anyURI"/>
			<xs:enumeration value="xmsg:UNDEFINED"/>
			<!-- Strings and names -->
			<!-- Numeric -->
			<!-- Date and time -->
			<!-- legacy types -->
			<!-- Other -->
			<!-- Undefined -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Messages -->
	<xs:element name="DataRequest" type="DataRequestType">
		<xs:annotation>
			<xs:documentation>Startknoten</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
