src/Dataline.ExtraStandard.DrvKomServer.Extra14.Dsv/Schemas/02-Request/eXTra-messages-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmsg="http://www.extra-standard.de/namespace/message/1" xmlns="http://www.extra-standard.de/namespace/message/1" targetNamespace="http://www.extra-standard.de/namespace/message/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.4.0">
	<!-- ====================
         Message: DataRequest
         ====================
    -->
	<!-- DataRequestType
         Represents a message for requesting the result of some business
         process that was triggered by a previous message
         
         @changed 2011-08-05 1.1 MS / Added version identifier '1.2'
         @changed 2011-09-06 1.1 MS / Added version identifier '1.3'
         
    -->
	<xs:complexType name="DataRequestType">
		<xs:sequence>
			<xs:group ref="DataRequestModel"/>
		</xs:sequence>
		<xs:attribute name="version" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="1.3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- @created 2010-05-20 1.2 MS -->
	<xs:group name="DataRequestModel">
		<xs:sequence>
			<xs:element name="Query" type="DataRequestQueryType"/>
		</xs:sequence>
	</xs:group>
	<!-- DataRequestQueryType
        Represents a data request query that selects requested objects by certain
        criteria specified by argument elements.
        
        @changed 2011-10-18 1.3 MS / Element Argument is optional
    -->
	<xs:complexType name="DataRequestQueryType">
		<xs:sequence>
			<xs:element name="Argument" type="DataRequestArgumentType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- DataRequestArgumentType
        Defines a concrete type for arguments of a data request query, restricting
        argument names to those enumerated in  xs:string
        
        @changed 2013-09-06 1.4 MS + Added 'order' attribute
    -->
	<xs:complexType name="DataRequestArgumentType">
		<xs:complexContent>
			<xs:extension base="AbstractArgumentType">
				<xs:attribute name="property" type="DataRequestPropertyNamesType" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- DataRequestPropertyNamesType
        The names of the properties that may appear in a data request query.
        The names must consitute a subset (in XSD terms: restriction) of the
        names defined in the type PropertyNamesType.
        
        @changed 2011-08-04 1.3 MS + Added value 'Layer'
        @changed 2013-05-24 1.4 MS / Rearranged prop names in alphabetical order
        @changed 2013-09-06 1.4 MS + Added 'State' property
        @changed 2013-10-21 1.4 MS / Set properties to match with ListRequestPropertyNamesType
        
    -->
	<xs:simpleType name="DataRequestPropertyNamesType">
		<xs:restriction base="PropertyNamesType">
			<xs:pattern value="http://www.extra-standard.de/property/(DataType|Layer|Procedure|ReceiverID|RequestCreationTimeStamp|RequestFileName|RequestID|ResponseCreationTimeStamp|ResponseFileName|ResponseID|SenderID|State)"/>
			<xs:pattern value=".+"/>
			<!--
            @deleted 2010-07-04 1.2 MS -
            @{code %
            <xs:enumeration value="http://www.extra-standard.de/property/SenderID" />
            <xs:enumeration value="http://www.extra-standard.de/property/ReceiverID" />
            <xs:enumeration value="http://www.extra-standard.de/property/Procedure" />
            <xs:enumeration value="http://www.extra-standard.de/property/DataType" />
            <xs:enumeration value="http://www.extra-standard.de/property/ResponseID" />
            <xs:enumeration value="http://www.extra-standard.de/property/ResponseCreationTimeStamp" />
            <xs:enumeration value="http://www.extra-standard.de/property/ResponseFileName" />
            <xs:enumeration value="http://www.extra-standard.de/property/Layer"/>
            -->
		</xs:restriction>
	</xs:simpleType>
	<!-- ============
         Common types
         ============
    -->
	<!-- AbstractArgumentType
        Defines an abstract base type for defining arguments of a query. An argument
        is bound to a named property by a property attribute which must be supplied
        by concrete types through extension. The name of the property takes the form
        of a URI. The property's type can be specified through a type attribute whose
        value references one of the XML Schema atomic types and defaults to xs:string.
         
        @changed 2009-10-30 1.1 MS + Added attribute 'event'
        @changed 2009-11-02 1.1 MS + Set attribute 'abstract' to 'true'
        @changed 2011-06-21 1.3 MS + Added element 'IN'
    -->
	<xs:complexType name="AbstractArgumentType" abstract="true">
		<xs:choice>
			<xs:element name="EQ" type="OperandType"/>
			<xs:sequence>
				<xs:choice>
					<xs:element name="GT" type="OperandType"/>
				</xs:choice>
			</xs:sequence>
		</xs:choice>
		<xs:attribute name="type" type="XSDPrefixedTypeCodes" default="xs:string"/>
		<xs:attribute name="event" type="EventNamesType" default="http://www.extra-standard.de/event/Default"/>
	</xs:complexType>
	<!-- OperandSetType
        
        @created 2011-06-21 1.3 MS
    -->
	<xs:complexType name="OperandSetType">
		<xs:sequence>
			<xs:element name="EQ" type="OperandType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OperandType">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<!-- PropertyType
        @changed 2009-11-02 1.1 MS + Added attribute 'event'
    -->
	<xs:complexType name="PropertyType">
		<xs:sequence>
			<xs:element name="Value" type="ValueType"/>
		</xs:sequence>
		<xs:attribute name="name" type="PropertyNamesType" use="required"/>
		<xs:attribute name="type" type="XSDPrefixedTypeCodes" default="xs:string"/>
		<xs:attribute name="event" type="EventNamesType" default="http://www.extra-standard.de/event/Default"/>
	</xs:complexType>
	<!--
        @created 2009-05-05 1.0 MS 
        @changed 2010-05-20 1.2 MS + Addrd attribute 'event'
    -->
	<xs:complexType name="PropertySetType">
		<xs:sequence>
			<xs:element name="Value" type="ValueType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="PropertyNamesType" use="required"/>
		<xs:attribute name="type" type="XSDPrefixedTypeCodes" default="xs:string"/>
		<xs:attribute name="event" type="EventNamesType"/>
	</xs:complexType>
	<!--
        @changed 2011-06-17 1.2 MS + Added value 'Layer'
        @changed 2013-05-24 1.4 MS + Added value 'State'
                                   / Rearranged prop names in alphabetical order
        @changed 2013-09-06 1.4 MS + Added value 'ExpectedDataSize'
    -->
	<xs:simpleType name="PropertyNamesType">
		<xs:restriction base="xs:anyURI">
			<xs:pattern value="http://www.extra-standard.de/property/(DataType|ExpectedDataSize|Layer|Procedure|ReceiverID|RequestCreationTimeStamp|RequestFileName|RequestID|ResponseCreationTimeStamp|ResponseFileName|ResponseID|SenderID|State)"/>
			<xs:pattern value=".+"/>
			<!--
            @deleted 2010-07-04 1.2 MS -
            @{code %
            <xs:enumeration value="http://www.extra-standard.de/property/SenderID" />
            <xs:enumeration value="http://www.extra-standard.de/property/ReceiverID" />
            <xs:enumeration value="http://www.extra-standard.de/property/Procedure" />
            <xs:enumeration value="http://www.extra-standard.de/property/DataType" />
            <xs:enumeration value="http://www.extra-standard.de/property/RequestID" />
            <xs:enumeration value="http://www.extra-standard.de/property/RequestCreationTimeStamp" />
            <xs:enumeration value="http://www.extra-standard.de/property/RequestFileName" />
            <xs:enumeration value="http://www.extra-standard.de/property/ResponseID" />
            <xs:enumeration value="http://www.extra-standard.de/property/ResponseCreationTimeStamp" />
            <xs:enumeration value="http://www.extra-standard.de/property/ResponseFileName" />
            <xs:enumeration value="http://www.extra-standard.de/property/Layer" />
            %}
            -->
		</xs:restriction>
	</xs:simpleType>
<!--
        @changed 2009-07-15 MS + Added element 'MaximumSize' 
    -->
	<xs:complexType name="ControlType">
		<xs:sequence>
			<xs:element name="MaximumPackages" type="xs:positiveInteger" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>	
	
	<!--
        @created 2009-10-30 1.1 MS The set of predefined event names 
    -->
	<xs:simpleType name="EventNamesType">
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="http://www.extra-standard.de/event/Default"/>
			<xs:enumeration value="http://www.extra-standard.de/event/SendData"/>
			<xs:enumeration value="http://www.extra-standard.de/event/RequestData"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ValueType">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="XSDPrefixedTypeCodes">
		<xs:annotation>
			<xs:documentation> A list of prefixed XSD atomic type names </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:QName">
			<xs:enumeration value="xs:string"/>
			<xs:enumeration value="xs:normalizedString"/>
			<xs:enumeration value="xs:token"/>
			<xs:enumeration value="xs:Name"/>
			<xs:enumeration value="xs:NCName"/>
			<xs:enumeration value="xs:QName"/>
			<xs:enumeration value="xs:language"/>
			<xs:enumeration value="xs:float"/>
			<xs:enumeration value="xs:double"/>
			<xs:enumeration value="xs:decimal"/>
			<xs:enumeration value="xs:integer"/>
			<xs:enumeration value="xs:long"/>
			<xs:enumeration value="xs:int"/>
			<xs:enumeration value="xs:short"/>
			<xs:enumeration value="xs:byte"/>
			<xs:enumeration value="xs:positiveInteger"/>
			<xs:enumeration value="xs:nonPositiveInteger"/>
			<xs:enumeration value="xs:negativeInteger"/>
			<xs:enumeration value="xs:nonNegativeInteger"/>
			<xs:enumeration value="xs:unsignedLong"/>
			<xs:enumeration value="xs:unsignedInt"/>
			<xs:enumeration value="xs:unsignedShort"/>
			<xs:enumeration value="xs:unsignedByte"/>
			<xs:enumeration value="xs:duration"/>
			<xs:enumeration value="xs:dateTime"/>
			<xs:enumeration value="xs:date"/>
			<xs:enumeration value="xs:time"/>
			<xs:enumeration value="xs:gYear"/>
			<xs:enumeration value="xs:gMonth"/>
			<xs:enumeration value="xs:gYearMonth"/>
			<xs:enumeration value="xs:gMonthDay"/>
			<xs:enumeration value="xs:gDay"/>
			<xs:enumeration value="xs:ID"/>
			<xs:enumeration value="xs:IDREF"/>
			<xs:enumeration value="xs:IDREFS"/>
			<xs:enumeration value="xs:ENTITY"/>
			<xs:enumeration value="xs:ENITIES"/>
			<xs:enumeration value="xs:NMTOKEN"/>
			<xs:enumeration value="xs:NMTOKENS"/>
			<xs:enumeration value="xs:NOTATION"/>
			<xs:enumeration value="xs:boolean"/>
			<xs:enumeration value="xs:hexBinary"/>
			<xs:enumeration value="xs:base64Binary"/>
			<xs:enumeration value="xs:anyURI"/>
			<xs:enumeration value="xmsg:UNDEFINED"/>
			<!-- Strings and names -->
			<!-- Numeric -->
			<!-- Date and time -->
			<!-- legacy types -->
			<!-- Other -->
			<!-- Undefined -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Messages -->
	<xs:element name="DataRequest" type="DataRequestType"/>
</xs:schema>
